<%- include("./template/header"); %>

<div class="Container">
    <h1 class="Text_title">Lista de Pacientes</h1>
    <div class=" div-search-options">
       <div class="d-flex div-search-check">
       <div class="div-search-warning">
        <p id="warning"></p>
        <div class="d-flex div-search ">
            <input type="number" id="input-dni" placeholder="Cedula del Paciente">
            <button class="btn shadow-none btn-search-dni">Buscar</button>
        </div>
       </div>
       <div class="div-check-options">
        <input type="checkbox" name="" id="CheckAdulto">
        <span>Adultos</span>
        <input type="checkbox" name="" id="CheckPediatrico">
        <span>Pediatrico</span>
       </div>
       </div>
        
        
       <div class="div-btn-paciente">
        <a class="btn-add">Agregar</a>
       </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Cedula</th>
                <th>Telefono</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% if (pacientes.length > 0) { %>
                <% pacientes.forEach(paciente => { %>
                    <tr>
                        <td><%= paciente.Nombres %></td>
                        <td><%= paciente.Apellidos %></td>
                        <td><%= paciente.Edad %></td>
                        <td><%= paciente.Cedula %></td>
                        <td><%= paciente.Telefono %></td>
                        <td>
                            <div class="div-btn-ver ">
                                <a href="/HC/<%= paciente.tipo_paciente %>/<%= paciente.id %>/1" class="btn-ver">Ver</a>
                            </div>
                        </td>
                    </tr>
                    <% })%>
                
            <% } else { %>
                <tr>
                    <td colspan="2">No se encontraron pacientes</td>
                </tr>
            <% } %>
          
        </tbody>
    </table>

    <div class="Pages">
        <% if (currentPage > 1) { %>
            <div class="div-btn-ver ">
                <a href="/Paciente/<%= currentPage - 1 %>" class="btn-ver">Anterior</a>
            </div>
          <% } %>
      
          Página <%= currentPage %> de <%= totalPage %>
      
          <% if (currentPage < totalPage) { %>
            
            <div class="div-btn-ver ">
                <a href="/Paciente/<%= currentPage + 1 %>" class="btn-ver">Siguiente</a>
            </div>
          <% } %>
    </div>
    
    <div id="PopUp">
        <div class="div-add-paciente" >
       
            <div class="div-btn-exit">
                <button type="button"   id="btn-exit">X</button>
            </div>
            <div class="div-mensaje">
                <h1>Cual tipo de paciente quiere registrar?</h1>
            <div class="div-btn-add-paciente">
                <button class="btn-Paciente-adulto">Paciente Adulto</button>
                <button class="btn-Paciente-pediatrico">Paciente Pediatrico</button>
            </div>
            </div>
        </div>
    </div>
    <script src="/js/home.js"></script>
</div>