<%- include("./template/header"); %>

    <div class="Container-Pefil-paciente" data-id="<%= paciente.id_paciente %>">
        <h3 class="h3DatosPerson">Historia Clinica</h3>
    <div class="div-btn-edit_delete">
        <a href="/Registro_Consulta/<%= paciente.tipo_paciente %>/<%= paciente.id_paciente %>" class="btn-add-consulta">Añadir Consulta</a>
        <button class="btn-Edit">Editar</button>
        <% if (Rol === 0) { %>
            <button class="btn-Delete">Eliminar</button>
        <% } %>
        
    </div>
        <div class="DataPer">
            <table class="tableDatosPer">
                <tr>
                    <td class="td-campo">Nombres</td>
                    <td class="td-DatosPer"><%= paciente.Nombres %></td>
                </tr>
                <tr>
                    <td class="td-campo">Apellidos</td>
                    <td class="td-DatosPer"><%= paciente.Apellidos %></td>
                </tr>
                <tr>
                    <td class="td-campo">Cedula</td>
                    <td class="td-DatosPer"><%= paciente.Cedula %></td>
                </tr>
                <tr>
                    <td class="td-campo">Edad</td>
                    <td class="td-DatosPer"><%= paciente.Edad %></td>
                </tr>
                <tr>
                    <td class="td-campo">Sexo</td>
                   
                    <% if (paciente.Sexo == 1) { %>
                        <td class="td-DatosPer">Hombre</td>
                    <% } else { %>
                        <td class="td-DatosPer">Mujer</td>
                    <% } %>
                </tr>
                <tr>
                    <td class="td-campo">Telefono</td>
                    <td class="td-DatosPer"><%= paciente.Telefono %></td>
                </tr>
                <tr>
                    <td class="td-campo">Ocupacion</td>
                    <td class="td-DatosPer"><%= paciente.Ocupacion %></td>
                </tr>
                <tr>
                    <td class="td-campo">Direccion Completa</td>
                    <td class="td-DatosPer"><%= paciente.Direccion_Completa %></td>
                </tr>
                <tr>
                    <td class="td-campo">Indformacion adicional</td>
                    <td class="td-DatosPer"><%= paciente.Informacion_Adicional %></td>
                </tr>
                <tr>
                    <td class="td-campo">Avisar en caso de emergencia</td>
                    <td class="td-DatosPer"><%= paciente.Emergencia %></td>
                </tr>
                <tr>
                    <td class="td-campo">Parentesco</td>
                    <td class="td-DatosPer"><%= paciente.Parentesco %></td>
                </tr>
                <tr>
                    <td class="td-campo">Telefono</td>
                    <td class="td-DatosPer"><%= paciente.Telefono_Parentesco %></td>
                </tr>
                <tr>
                    <td class="td-campo">Direccion</td>
                    <td class="td-DatosPer"><%= paciente.Direccion_Parentesco %></td>
                </tr>
                <tr>
                    <td class="td-campo">Antecedentes</td>
                    <td class="td-DatosPer"><%= paciente.Personales %><%= paciente.Familires %></td>
                </tr>

            </table>
        </div>

        <div class="DataConsulta">
            <table class="table_DatosConsulta">              
                <tr>
                    <th class="th_Consulta">ID</th>
                    <th class="th_Consulta">Fecha</th>
                    <th class="th_Consulta">Motivo</th>
                </tr>
                <% if (consultas.length > 0) { %>
                    <% consultas.forEach(consulta => { %>
                        <tr>

                            <td><%= consulta.id %></td>
                            <td><%= consulta.fecha.toLocaleDateString() %></td>
                            <td><%= consulta.motivo_consulta %></td>
                            <td><a href="/Consulta/<%= consulta.id %>" class="btn-verConsulta">Ver</a></td>
                        </tr>
                        <% })%>
                    
                <% } else { %>
                    <tr>
                        <td colspan="2">No se encontraron pacientes</td>
                    </tr>
                <% } %>
           
            </table>

        </div>
        <div id="PopUp">
            <div class="div-delete-paciente" >
           
                <div class="div-btn-exit">
                    <button type="button"   id="btn-exit">X</button>
                </div>
                <div class="div-mensaje">
                    <h1>Estas seguro que quiere borrar la Historia clinica?</h1>
                <div class="div-btn-delete-paciente">
                    <button class="btn-decline">Cancelar</button>
                    <button class="btn-acept">Confirmar</button>
                </div>
                </div>
            </div>
        </div>

        <div class="Pages">
            <% if (currentPage > 1) { %>
                <div class="div-btn-ver ">
                    <a href="/HC/<%= paciente.tipo_paciente %>/<%= paciente.id_paciente %>/<%= currentPage - 1 %>" class="btn-ver">Anterior</a>
                </div>
              <% } %>
          
              Página <%= currentPage %> de <%= totalPage %>
          
              <% if (currentPage < totalPage) { %>
                
                <div class="div-btn-ver ">
                    <a href="/HC/<%= paciente.tipo_paciente %>/<%= paciente.id_paciente %>/<%= currentPage + 1 %>" class="btn-ver">Siguiente</a>
                </div>
              <% } %>
        </div>

    </div>
    <script src="/js/profilePaciente.js"></script>
