<%- include("./template/header"); %>
    <h3 class="h3Consulta">Consulta Medica</h3>
    <div class="div-consulta">
        <table class="table-cansulta">
            <tr>
                <td class="td-consulta">Fecha</th>
                <td class="td-DatosCols"><%= consulta.fecha.toLocaleDateString()  %></td>
            </tr>
            <tr>
                <td class="td-consulta">Doctor</th>
                <td class="td-DatosCols"><%= consulta.doctor %></td>
            </tr>
            <tr>
                <td class="td-consulta">Motivo</th>
                <td class="td-DatosCols"><%= consulta.motivo_consulta %></td>
            </tr>
            <tr>
                <td class="td-consulta">Motivo</th>
                <td class="td-DatosCols"><%= consulta.observacion_consulta %></td>
            </tr>
            <tr>
                <td class="td-consulta">Diagnostico</th>
                <td class="td-DatosCols"><%= consulta.descripcion_diagnostico %></td>
            </tr>
            <tr>
                <td class="td-consulta">Tratamiento</th>
                <td class="td-DatosCols"><%= consulta.descripcion_tratamiento %></td>
            </tr>
        </table>
    </div>
