<%- include("./template/header"); %>

<div class="Container">
    <h1 class="Text_title">Lista del Personal</h1>
    <div class=" div-search-options">
        <div class="div-search ">
            <input type="text" placeholder="Cedula del Personal">
            <button class="btn shadow-none">Buscar</button>
        </div>
       <div>
        <a href="" class="btn btn-primary mb-2">Agregar</a>
        <% if (Rol === 0) { %>
            <a href="" class="btn btn-danger mb-2" >Eliminar</a>
          <% } %>

       </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Telefono</th>
                <th>Cargo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(usuario => { %>
                <tr>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.apellido %></td>
                    <td><%= usuario.cedula %></td>
                    <td><%= usuario.telefono %></td>
                    <td><%= usuario.cargo %></td>
                    <td>
                        <div class="div-btn-ver ">
                            <a href="/Registro_Consulta/" class="btn-ver">Ver</a>
                        </div>
                    </td>
                </tr>
                <% })%>
        </tbody>
    </table>
</div>