<%- include("./template/header"); %>

<div class="Container">
    <h1 class="Text_title">Lista del Personal</h1>
    <div class=" div-search-options">
        <div class="div-search ">
            <input type="text" placeholder="Cedula del Personal">
            <button class="btn shadow-none">Buscar</button>
        </div>
       <div>
       </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Telefono</th>
                <th>Cargo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(usuario => { %>
                <tr>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.apellido %></td>
                    <td><%= usuario.cedula %></td>
                    <td><%= usuario.telefono %></td>
                    <td><%= usuario.cargo %></td>
                    <td>
                        <div class="div-btn-ver ">
                            <a href="/PerfilUsuario/<%= usuario.id %>" class="btn-ver">Ver</a>
                        </div>
                    </td>
                </tr>
                <% })%>
        </tbody>
    </table>
    <div class="Pages">
        <% if (currentPage > 1) { %>
            <div class="div-btn-ver ">
                <a href="/HC/<%= paciente.tipo_paciente %>/<%= paciente.id_paciente %>/<%= currentPage - 1 %>" class="btn-ver">Anterior</a>
            </div>
          <% } %>
      
          Página <%= currentPage %> de <%= totalPage %>
      
          <% if (currentPage < totalPage) { %>
            
            <div class="div-btn-ver ">
                <a href="/HC/<%= paciente.tipo_paciente %>/<%= paciente.id_paciente %>/<%= currentPage + 1 %>" class="btn-ver">Siguiente</a>
            </div>
          <% } %>
    </div>
</div>