<%- include("./template/header"); %>

<div class="Container">
    <h1 class="Text_title">Lista del Personal</h1>
    <p id="warning"></p>
    <div class=" div-search-options">
        <div class="div-search ">
            <input id="input-dni" type="text" placeholder="Cedula del Personal">
            <button class="btn shadow-none btn-search">Buscar</button>
        </div>
       <div>
       </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Telefono</th>
                <th>Cargo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
                <% if (usuarios.length > 0) { %>
                    <% usuarios.forEach(usuario => { %>
                        <tr>
                            <td><%= usuario.nombre %></td>
                            <td><%= usuario.apellido %></td>
                            <td><%= usuario.cedula %></td>
                            <td><%= usuario.Telefono %></td>
                            <% if (usuario.cargo == 1) { %>
                                <td>Doctor(a)</td>
                            <% } else if(usuario.cargo == 2){ %>
                                <td>Secretario(a)</td>
                            <% }else{ %>
                                <td>Administrador</td>
                            <% } %>
                            <td>
                                <div class="div-btn-ver ">
                                    <a href="/PerfilUsuario/<%= usuario.id %>" class="btn-ver">Ver</a>
                                </div>
                            </td>
                        </tr>
                        <% })%>
                <% } else { %>
                    <tr>
                        <td colspan="2">No se encontraron Usuarios</td>
                    </tr>
                <% } %>
        </tbody>
    </table>
    <div class="Pages">
        <% if (currentPage > 1) { %>
            <div class="div-btn-ver ">
                <a href="/HC/<%= paciente.tipo_paciente %>/<%= paciente.id_paciente %>/<%= currentPage - 1 %>" class="btn-ver">Anterior</a>
            </div>
          <% } %>
      
          Página <%= currentPage %> de <%= totalPage %>
      
          <% if (currentPage < totalPage) { %>
            
            <div class="div-btn-ver ">
                <a href="/HC/<%= paciente.tipo_paciente %>/<%= paciente.id_paciente %>/<%= currentPage + 1 %>" class="btn-ver">Siguiente</a>
            </div>
          <% } %>
    </div>
</div>

<script src="/js/usuario.js"></script>